<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=project.owner.username) }}">
                {% if project.owner %}
                <img src="{{ project.owner.avatar(70) }}" />
                {% else %}
                <img src="https://via.placeholder.com/70" />
                {% endif %}
            </a>
        </td>
        <td>
            <span class="user_popup">
                <a href="{{ url_for('user', username=project.owner.username) }}">
                    {{ project.owner.username }}
                </a>
            </span>
            posted <a href="{{ url_for('project', id=project.id) }}"><b>{{ project.title }}</b></a> on {{ moment(project.timestamp).format('L') }}
            <a href="{% if project.language %} {{ url_for('language', language=project.language) }} {% endif %}" class="badge badge-secondary float-right">{% if project.language %} {{ project.language }} {% endif %}</a>
            <br> {% if project.description %} {{ project.description }} {% endif %}
        </td>
    </tr>
</table>