<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=project.owner.username) }}">
                <img src="{{ project.owner.avatar(70) }}" />
            </a>
        </td>
        <td>
            <span class="user_popup">
                <a href="{{ url_for('user', username=project.owner.username) }}">
                    {{ project.owner.username }}
                </a>
            </span>
            posted <a href="#"><b>{{ project.title }}</b></a> on {{ moment(project.timestamp).format('L') }}
            <a href="#" class="badge badge-secondary float-right">{% if project.language %} {{ project.language }} {% endif %}</a>
            <br> {% if project.description %} {{ project.description }} {% endif %}
        </td>
    </tr>
</table>