<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    {% if title %}
    <title>{{ title }} - RecommenDev</title>
    {% else %}
    <title>Welcome to RecommenDev</title>
    {% endif %}
</head>
<body style="padding-top: 5rem;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">RecommenDev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse", id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('explore') }}" class="nav-link">Explore</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
                {% else %}
                <li class="nav-item"><a href="{{ url_for('user', username=current_user.username) }}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {{ moment.include_moment() }}

    <script>
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data,
                                        sanitize: false
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('dispose');
                    }
                }
            );
        });
    </script>
    
    <!-- unused script to set title of modal to followers when followers button is clicked using jquery
        can use this function once display function is changed to utilise ajax for getting list of followers/following,
        rather than passing it through the /user route
    <script>
        $(document).ready(function () {
            $("#followers_btn").click(function () {
                $("#exampleModalScrollableTitle").text("Followers");
            } )
        } );
    </script>

    script to set title of modal to following when following button is clicked using jquery
    <script>
        $(document).ready(function () {
            $("#following_btn").click(function () {
                $("#exampleModalScrollableTitle").text("Following");
            } )
        } );
    </script>
    -->

</body>
</html>