{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action ="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-7">
                <div class="form-row">
                    <div class="form-group col-md-12 pl-0">
                        {{ form.title.label }}<br>
                        {{ form.title(size=60, class="form-control") }}
                        {% for error in form.title.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 pl-0">
                        {{ form.language.label }}<br>
                        {{ form.language(size=15, class="form-control") }}
                        {% for error in form.language.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.tags.label }}<br>
                        {{ form.tags(size=15, class="form-control") }}
                        {% for error in form.tags.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 pl-0">
                        {{ form.git_url.label }}<br>
                        {{ form.git_url(size=60, class="form-control") }}
                        {% for error in form.git_url.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-5">
                {{ form.description.label }}<br>
                {{ form.description(size=150, class="form-control", style="height: 210px;") }}
                {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    <br>
    {% endif %}

    {% for project in projects %}
        {% include '_project.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&laquo;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}