{% extends "base.html" %}

{% block content %}
<div class="media pb-3">
    <img src="{{ project.owner.avatar(64) }}" class="mr-3">
    
    <div class="media-body">
        <h2 class="mb-1">{{ project.title}}
            <a href="{% if project.language %} {{ url_for('language', language=project.language) }} {% endif %}" class="badge badge-secondary float-right">{% if project.language %} {{ project.language }} {% endif %}</a>
        </h2>
        
        <a href="{{ url_for('user', username=project.owner.username) }}">{{ project.owner.username}}</a> posted on {{ moment(project.timestamp).format('L') }}
        <span class="float-right">{{ project.raters.count() }} ratings.</span>
    </div>
            
</div>
<table class="table table-hover">
    <caption>{% if project.tags %} Tags: {{ project.tags }} {% endif %} 
        {% if not current_user.is_rated(project) %}
        <form action="{{ url_for('rate', id=project.id) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='rate', class="btn btn-outline-primary float-right") }}
        </form>
            <button class="btn btn-outline-primary float-right"><i class="far fa-star"></i></button>
        {% elif current_user.is_rated(project) %}
        <form action="{{ url_for('unrate', id=project.id) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='unrate', class="btn btn-primary float-right") }}
        </form>
            <button class="btn btn-primary float-right"><i class="fas fa-star"></i></button>
        {% else %} {% endif %}
    </caption>
    <tr>
        <td> {% if project.description %} {{ project.description }} {% endif %} </td>
    </tr>
</table>

<!-- Show recommended projects -->

{% endblock %}